<h1>Iniciar sesi칩n</h1>

<form action="/api/sessions/login" method="post">
    <fieldset>
        <div>
            <label for="email" id="email">Correo electr칩nico</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password" id="password">Contrase침a</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <button type="submit">Iniciar sesi칩n</button>

            <button>
                <a href="/register">Registrarse</a>
            </button>
        </div>
    </fieldset>
</form>