h1 {
    color: red;
    text-align: center;
}

fieldset {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: .1rem solid black;
    margin: 1rem auto;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

div:last-child {
    justify-content: center;
}

label {
    width: 50%;
}

input {
    width: 100%; 
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}